In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Position_Salaries.csv")

In [3]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
df.shape

(10, 3)

In [5]:
X = df.iloc[:,:-1].values

In [7]:
y = df.iloc[:,-1:].values