In [1]:
# import libraries
import pandas as pd

In [2]:
df = pd.read_csv("../Salary_Data.csv")

In [4]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
X = df.iloc[:,:-1].values

In [7]:
y = df.iloc[:,-1].values

In [9]:
# train test split

In [11]:
from sklearn.model_selection import train_test_split,

In [12]:
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [13]:
X_test

array([[  1.5],
       [ 10.3],
       [  4.1],
       [  3.9],
       [  9.5],
       [  8.7]])